extends layout

block content
  p this is the main catalog page:
  img(src='images/clock.png')
  img(src="images/footerlogo.png")
  img(src="images/footerlogo.png")
  img(src="images/phone.png")
  
  
